[build]
target = "x86_64-unknown-none"

[target.x86_64-unknown-none]
linker = "rust-lld"
rustflags = [
    "-C", "link-arg=-Tlinker.ld",
    "-C", "link-arg=--nostdlib",
    "-C", "relocation-model=static",
]
